<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'account/css/pageStyle.css' %}" />
    {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>
    <nav class="navbar">
      <img class="profilepic" src="{{ user.profile.avatar.url }}" />
      <ul class="nav-links">
        {% block navbar_links %}
        <li><a href="{% url 'signout' %}">SignOut</a></li>
        <li><a href="{% url 'createPost' %}">Create Post</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        {% endblock navbar_links %}
      </ul>
    </nav>

    <main>{% block content %}{% endblock content %}</main>
  </body>
</html>
