<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <input type="text" name="title" placeholder="post title" required />
      <textarea
        name="content"
        placeholder="write something..."
        required
      ></textarea>
      <button type="submit">Create</button>
    </form>
  </body>
</html>
