{% extends "base.html" %} 
{% block title %}edite-profile{% endblock %}
{% block extra_css %}
 {% load static %}
  <link rel="stylesheet" href="{% static 'account/css/inputStyle.css' %}" />
{% endblock extra_css %}
{% block navbar_links %}
 <li><a href="{% url 'signout' %}">SignOut</a></li>
 <li><a href="{% url 'profile' %}">Profile</a></li>
 <li>><a href="{% url 'home' %}">Home</a></li>
{% endblock navbar_links %}
{% block content %} 
  <h1>Edit profile</h1>

    {% if request.user.profile.avatar %}
    <img
      src="{{ request.user.profile.avatar.url }}"
      alt="avatar"
      style="width: 120px;
      height: 120px;
      border-radius: 50%;"
    />
    {% else %}
    <img
      src="{% static 'account/images/default.jpg' %}"
      alt="default avatar"
      style="width: 120px;
      height: 120px;
      border-radius: 50%;"
    />
    {% endif %}

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Save</button>
    </form>

    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
{% endblock %}
