{% extends "base.html" %} 
{% block title %}edite{% endblock %}
{% block extra_css %}
 {% load static %}
  <link rel="stylesheet" href="{% static 'account/css/inputStyle.css' %}" />
{% endblock extra_css %}
{% block navbar_links %}
 <li><a href="{% url 'signout' %}">SignOut</a></li>
 <li><a href="{% url 'profile' %}">Profile</a></li>
 <li>><a href="{% url 'home' %}">Home</a></li>
{% endblock navbar_links %}
{% block content %} 
  <div class="container">
      <h1>edite-post</h1>
      <form method="post">
        {% csrf_token %}
        <input name="title" type="text" placeholder="{{post.title}}" required />
        <input
          name="content"
          type="text"
          placeholder="{{post.content}}"
          required
        />
        <button type="submit">save</button>
      </form>
    </div>
{% endblock %}
