<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'account/css/pageStyle.css' %}" />
  </head>
  <body>
    <nav class="navbar">
      <img class="profilepic" src="{{ user.profile.avatar.url }}" />
      <ul class="nav-links">
        <li><a href="{% url 'signout' %}">SignOut</a></li>
        <li>><a href="{% url 'createPost' %}">createPost</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
      </ul>
    </nav>
    {% if posts %}
    <h1>All Posts</h1>
    {% else %}
    <h1>there is no post</h1>
    {% endif %}
    <div class="post-list">
      {% for post in posts %}
      <div class="post">
        <img
          src="{{post.author.profile.avatar.url}}"
          style="
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          "
        />
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <small>By {{ post.author.username }} - {{ post.created_at }}</small>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
