{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block navbar_links %}
<li><a href="{% url 'signout' %}">SignOut</a></li>
<li><a href="{% url 'createPost' %}">Create Post</a></li>
<li><a href="{% url 'profile' %}">Profile</a></li>
{% endblock navbar_links %}
{% block content %} 
{% if posts %}
<h1>All Posts</h1>
{% else %}
<h1>There is no post</h1>
{% endif %}
<div class="post-list">
  {% for post in posts %}
  <div class="post">
    <img
      src="{{ post.author.profile.avatar.url }}"
      style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover"
    />
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <a href="{% url 'postLike' post.id %}">
    {% if user in post.like.all %}
      Unlike
    {% else %}
      Like
    {% endif %}
  </a>
    <p>{{ post.total_likes }} ❤️</p>
    <small>By {{ post.author.username }} - {{ post.created_at }}</small>
  </div>
  {% endfor %}
</div>
<button class="searchBtn">
  <a href="{% url 'search'%}">🔎</a>
</button>
 
{% endblock %}
