<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ request.user.username}}</h1>
    {% if posts %}
    <p>this is your posts</p>
    {% else %}
    <p>you dont have a post yet!</p>

    {% endif %}
    <div>
      {% for post in posts %}
      <h2>{{post.title}}</h2>
      <p>{{post.content}}</p>
      <small>By {{post.author.username}}-{{post.created_at}}</small>
      <button><a href="{% url 'editePost' post.id %}">edite</a></button>
      <form method="post" action="{% url 'deletePost' post.id %}">
        {% csrf_token %}
        <button type="submit">delete</button>
      </form>
      <hr />
      {% endfor %}
    </div>

    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
  </body>
</html>
